<div class="luggageWindow" id="luggageWindow">
  <div class="subWindow">
    <div class="subWindow__box luggage">
      <h2 class="heading__secondary">Luggage</h2>
      <p class="text u-m-t-3">Choose your luggage type</p>
      <div class="u-m-t-3" id="personsLuggageRoot">
        <!-- Dynamicly in JS -->
      </div>
      <h2 class="list__header">Fee for luggage size</h2>
      <ul class="luggage__list">
        <li>Small: 10$</li>
        <li>Medium: 30$</li>
        <li>Big: 60$</li>
      </ul>
    </div>
    <div class="subWindow__box airfare">
      <h2 class="heading__secondary">Airfare</h2>
      <p class="text u-m-t-3">Choose your airfare</p>
      <div class="u-m-t-3" id="personsAirfareRoot">
        <!-- Dynamicly in JS -->
      </div>
      <h2 class="list__header">Fee for ticket, acording to chosen airfare</h2>
      <ul class="luggage__list">
        <li>Economic: <span id="economicPrice"></span></li>
        <li>Buisnes: <span id="buisnessPrice"></span></li>
        <li>Premium: <span id="premiumPrice"></span></li>
      </ul>
    </div>
    <div class="subWindow__box seats">
      <h2 class="heading__secondary">Seats reservation</h2>
      <button class="btn u-block u-m-t-3" id="seatsReservationButton">
        Choose your sits
      </button>
    </div>
  </div>
</div>
