<div class="luggageWindow" id="luggageWindow">

    <h2 class="heading__secondary summaryWindow__heading">Luggage and airfare</h2>
    <div class="subWindow">
        <div class="subWindow__box">
            <h2 class="heading__secondary">Luggage</h2>
            <p class="text u-m-t-3">Choose your luggage type</p>
            <div class="u-m-t-3" id="personsLuggageRoot">
                <!-- Dynamicly in JS -->
            </div>
        </div>
        <div class="subWindow__box">
            <h2 class="heading__secondary">Airfare</h2>
            <p class="text u-m-t-3">Choose your airfare</p>
            <div class="u-m-t-3" id="personsAirfareRoot">
                <!-- Dynamicly in JS -->
            </div>
        </div>
        <div class="subWindow__box">
            <h2 class="heading__secondary">Seats reservation</h2>
            <button class="btn u-block u-m-t-3" id="seatsReservationButton">Choose your sits</button>
        </div>
    </div>
</div>