.flight {
  &:hover {
    color: $color-primary-dark;
  }
  display: flex;
  width: 100%;
  height: 10rem;
  border-bottom: $color-grey-dark 1px solid;
  font-style: italic;
  cursor: pointer;
  transition: all 0.2s;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  > * {
    border: 1px solid $color-grey-light;
  }

  .cell {
    @include flexCenter;
    position: relative;
    width: 20%;
    .arrow {
      position: absolute;
      z-index: 2;
      right: -1rem;
      font-size: 2rem;
      vertical-align: middle;
    }
  }
}

@media only screen and (max-width: 930px) {
  .flight {
    width: 100%;
  }
  .cell {
    width: 20%;
  }
}

@media only screen and (max-width: 380px) {
}
