.box {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    margin-top: $margin-medium;
    box-shadow: $shadow;
    display: block;
    background-color: $color-grey;
    &--header {
        @include fillParent;
        margin-top: 0;
        height: 14vh;
    }
    &--main {
        @include fillParent;
        height: 17vh;
        width: 80%;
        margin-top: auto;
        margin-bottom: 8vh;
    }
    &--column {
        height: 80vh;
        display: flex;
        flex-direction: column;
        background-image: url("./img/hero.jpg");
        background-size: cover;
        background-position: left;
    }
    &--offers {
        margin-top: 15vh;
    }
}