.box {
  width: 90%;
  height: 40rem;
  margin: 0 auto;
  margin-top: $margin-medium;
  box-shadow: $shadow;
  display: block;
  background-color: $color-grey;
  &--offers {
    margin-top: 30vh !important;
  }

  &--hero {
    background-image: url("./img/hero.jpg");
    background-size: cover;
    background-position: left;
    height: 80vh;
  }
}
