.input {
    font-size: $font-normal;
    background-color: $color-grey-light;
    padding: 8px;
    border: 2px solid transparent;
    transition: all 0.4s;
    &:focus {
        border-bottom: 2px solid $color-primary;
        outline: none;
    }
    outline: $color-grey-light;
    width: 100%;
    &--radio {
        margin: 0 !important;
        vertical-align: middle;
        width: 10%;
        flex: 1 0 33%;
        vertical-align: middle;
    }
    &--disabled {
        color: grey;
        border-bottom: 3px solid grey;
    }
    &--date {
        border-radius: 2px;
        outline-color: $color-primary-light;
        margin: 2rem 0.3rem;
        &:focus {
            outline-color: $color-grey-light;
        }
    }
}