.hidden {
    display: none !important;
}

.warning {
    border: 1px solid red !important;
}

.u-m-t-0 {
    margin-top: 0 !important;
}

.u-m-t-1 {
    margin-top: 1rem !important;
}

.u-m-t-2 {
    margin-top: 2rem !important;
}

.u-m-t-3 {
    margin-top: 3rem !important;
}

.u-m-r-2 {
    margin-right: 2rem !important;
}

.u-m-left-2 {
    margin-left: 2rem !important;
}

.u-w-1-3 {
    width: 33.3%;
    border: $color-grey-light 1px solid;
}

.u-w-2-3 {
    width: 66.6%;
    border: $color-grey-light 1px solid;
}

.u-flex {
    display: flex;
}

.u-block {
    display: block;
}