.hidden {
    display: none !important;
}

.warning {
    border: 1px solid red !important;
}

.u-margin-top-0 {
    margin-top: 0 !important;
}

.u-margin-right-2 {
    margin-right: 2rem !important;
}

.u-margin-left-2 {
    margin-left: 2rem !important;
}