.hero {
    background-image: url("./img/hero.jpg");
    background-size: cover;
    background-position: left;
    height: 80vh;
    width: 100;
    .heading {
        padding: 2rem !important;
        &__primary {
            font-size: $font-big;
            &--hero {
                color: $color-white;
                font-size: 13rem;
                margin-left: $margin-small;
            }
        }
        &__secondary {
            font-size: $font-medium;
            &--hero {
                font-size: 7rem;
                color: $color-white;
                font-weight: 100;
                font-style: italic;
                font-family: Lato, sans-serif;
                margin-left: $margin-big;
            }
        }
    }
}