.flightsWindow {
    @include fillParent;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color-white;
    .cross__wrapper {
        font-size: 3rem;
        width: fit-content;
        margin-left: 95%;
    }
    .iconbox {
        text-align: right;
        padding-top: 2rem;
        padding-right: 2rem;
        font-size: 3rem;
        @include flexCenter;
        justify-content: flex-end;
    }
    &__heading {
        color: $color-black;
        padding: 2rem;
        font-size: 4rem !important;
    }
    &__sub {
        width: 80%;
        height: 40%;
        border: red 1px solid;
        margin: 2rem auto;
        background-color: $color-white;
        overflow-y: scroll;
    }
}