.flightsWindow {
    @include fillParent;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color-white;
    &__heading {
        color: $color-black;
        padding: 2rem;
        font-size: 4rem !important;
    }
    &__sub {
        width: 80%;
        height: 40%;
        margin: 2rem auto;
        background-image: linear-gradient($color-grey-dark, $color-grey-light);
        overflow-y: scroll;
    }
}