<div class="popup">
    <div class="iconbox closePopup">
        <i class="fas fa-times-circle closePopup"></i>
    </div>
    <div id="popup__body" class="popup__body">
        <h3 class="popup__body__header">Example Content
            <!--dynamicly in JS -->
        </h3>
        <p class="popup__body__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti animi ipsum tenetur corporis autem qui officiis aliquid quod blanditiis at cum quidem quae, quia recusandae id quis voluptate, architecto et.
        </p>
    </div>
</div>