<nav class="nav" id="nav">
  <ul class="nav__list">
    <li class="nav__item">Home</li>
    <li class="nav__item">Offers</li>
    <li class="nav__item">Services</li>
    <li class="nav__item">Partners</li>
    <li class="nav__item">Contact</li>
    <li class="nav__item">Links</li>
    <li class="nav__item">Partners</li>
    <li class="nav__item">Contact</li>
    <li class="nav__item">Links</li>
  </ul>
</nav>
<button class="nav__toggle big_hidden">
  <i class="fas fa-bars" id="navToggler"></i>
</button>
