<div class="loginbox box box--popup hidden" id="loginBox">
    <div class="iconbox" id="closeLogin">
        <i class="fas fa-times-circle closeLogin"></i>
    </div>
    <h1 class="heading__primary title">Log in</h1>
    <form action="submit" class="logInForm">
        <label class="text" for="email">User name</label>
        <input type="text" class="input" id="logInUser">
        <label class="text" for="password">Password</label>
        <input type="password" class="input" id="logInPassword">
        <button class=" btn btn-warning" id="logInButton">Log in</button>
        <p class="text">Not a member yet ? Sign up below</p>
        <button class=" btn btm-lg btn-warning" id="signInButton">Sign in</button>
    </form>
</div>