.header {
    display: flex;
    @include fillParent;
    margin-top: 0;
    padding: 1rem;
    justify-content: space-between;
    height: 15rem;
    background-color: $color-primary-light;
    &__logo {
        width: 15rem;
        min-width: 100px;
        transform: translateY(-5px);
        margin-left: $margin-medium;
        background-image: url("./img/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__login {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .iconsHolder {
        width: 20rem;
        display: flex;
        margin-right: 2rem;
        .icon {
            font-size: 3rem;
            color: white;
            margin-right: 3rem;
            cursor: pointer;
        }
    }
    .buttonsHolder {
        padding: 2rem;
        button {
            margin-right: 2rem;
        }
    }
}

@media only screen and (max-width:930px) {
    .header {
        width: 100vw;
        height: 10rem;
        margin: 0;
        padding: 0;
        &__logo {
            width: 10rem;
            min-width: 50px;
            margin-left: 1rem;
        }
        &__login {
            width: 80%;
            margin-right: $margin-small;
        }
        .iconsHolder {
            width: 10rem;
            .icon {
                font-size: 1.8rem;
            }
        }
        .buttonsHolder {
            padding: 0;
            button {
                margin-right: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width:380px) {
    .header {
        width: 100vw;
        height: 10rem;
        margin: 0;
        padding: 0;
        &__logo {
            width: 5rem;
        }
        &__login {
            width: 60rem;
            margin-right: $margin-small;
        }
        .iconsHolder {
            width: 10rem;
            .icon {
                font-size: 1.8rem;
            }
        }
        .buttonsHolder {
            padding: 0;
            button {
                margin-right: 0.5rem;
            }
        }
    }
}