.header {
    display: flex;
    @include fillParent;
    margin-top: 0;
    padding: 1rem;
    justify-content: space-between;
    height: 10rem;
    background-image: linear-gradient($color-primary-dark, $color-primary-light);
    &__logo {
        width: 15rem;
        min-width: 100px;
        transform: translateY(-5px);
        margin-left: $margin-medium;
        background-image: url("./img/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__login {
        width: 20rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .poland {
            background-image: url("./img/211-poland.svg");
            background-size: cover;
            background-color: transparent;
            cursor: pointer;
        }
        .england {
            background-image: url("./img/216-england.svg");
            background-size: cover;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width:930px) {
    .header {
        width: 100vw;
        height: 10rem;
        margin: 0;
        padding: 0;
        &__login {
            margin-right: $margin-small;
        }
    }
}

@media only screen and (max-width:380px) {
    .header {
        width: 100vw;
        height: 8rem;
        margin: 0;
        padding: 0;
    }
}