<div>
    <header class="header">
        <div class="header__logo"></div>
        <div class="header__login">
            <div class="iconsHolder">
                <i class="fab fa-instagram icon"></i>
                <i class="fab fa-facebook icon"></i>
                <i class="fab fa-twitter icon"></i>
            </div>
            <div class="buttonsHolder">
                <button class="btn btn--small" id="btn_LogIn">Log in</button>
                <button class="btn btn--small" id="btn_signIn">Sign in</button>
            </div>
        </div>
    </header>
</div>