.planeWindow {
  @include fillParent;
  padding: 1rem;
  background-color: $color-white;
  .subWindow {
    display: block;
    @include fillParent;
  }
  &__heading {
    text-align: center;
    font-size: medium;
    width: 100%;
  }
  .plane__wrapper {
    position: relative;
    overflow: scroll;
    top: 0;
    svg {
      padding: 2rem;
      width: 100rem;
      height: auto;
    }
  }
  .btn {
    margin-left: 70%;
    margin-bottom: 10%;
  }
}

.active {
  transition: all 0.2s;
  fill: $color-primary-light;
}

@media only screen and (max-width: 930px) {
  .planeWindow{
    .subWindow{
      width: 100vw;
    }
  }
  .plane__wrapper {
    width: 100vw;
    position: relative;
   
    svg{
      width: 140rem;
    }
  }
}
@media only screen and (max-width: 380px) {
  .plane__wrapper {
    width: 100%;
    position: relative;
    svg{
      width: 160rem;
    }
    
  }
}
