.planeWindow {
    @include fillParent;
    padding: 4rem;
    background-color: $color-white;
    .subWindow {
        display: block;
        @include fillParent;
    }
    &__heading {
        text-align: center;
        width: 100%;
    }
    .plane__wrapper {
        position: relative;
        svg {
            width: 100%;
        }
    }
}

.active {
    transition: all .2s;
    fill: $color-primary-light;
}