.planeWindow {
  @include fillParent;
  padding: 1rem;
  background-color: $color-white;

  .subWindow {
    display: block;
    @include fillParent;
  }
  &__heading {
    text-align: center;
    font-size: $font-big;
    font-weight: 300;
    width: 100%;
  }
  .plane__wrapper {
    position: relative;
    overflow-x: scroll;
    top: 0;
    svg {
      padding: 2rem;
      height: auto;
    }
  }
  .btn {
    position: absolute;
    right: 2rem;
    top: -10rem;
  }
}

.active {
  transition: all 0.2s;
  fill: $color-primary-light;
}

@media only screen and (max-width: 930px) {
  .planeWindow {
    .subWindow {
      width: 100vw;
    }
  }
  .plane__wrapper {
    position: relative;

    svg {
      height: 190rem;
    }
  }
}
@media only screen and (max-width: 380px) {
  .plane__wrapper {
    position: relative;
    svg {
      width: 160rem;
    }
  }
}
