<div id="reservationWindow" class="window hidden">
    <header class="window_header" id="reservation_header">
        <h2 id="window_heading" class="window_heading"></h2>
        <div class="cross__wrapper" id="quitIcon">
            <i class="fa-times-circle fas"></i>
        </div>
        <div class="dots">
            <div id="flightsDot"><i class="far fa-dot-circle"></i></div>
            <div id="luggageDot"><i class="far fa-dot-circle"></i></div>
            <div id="seatsDot"><i class="far fa-dot-circle"></i></div>
            <div id="dataDot"><i class="far fa-dot-circle"></i></div>
        </div>
    </header>

    <div id="wizardRoot" class="subwindow"></div>
</div>