.browserBox {
    width: 90%;
    min-height: 30rem;
    background-color: $color-white;
    box-shadow: $shadow;
    margin-top: -20rem;
    margin-left: auto;
    margin-right: auto;
}

.browser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 2rem;
    label {
        display: block;
        color: $color-grey-dark;
    }
    .label--radio {
        margin-top: 1rem;
        margin-right: 2rem;
        @include flexCenter;
        justify-content: space-evenly;
    }
    .buttonHolder {
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        border: none;
    }
}

.offers {
    @include fillParent;
    @include flexCenter;
}

.gridCell {
    @include fillParent;
    padding: 2rem;
    height: 4rem;
    min-height: 10rem;
    border: 1px solid $color-grey-light;
}

@media only screen and (max-width:930px) {
    .browserBox {
        width: 90%;
        box-shadow: none;
        margin-top: 0;
        *>:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    .gridCell {
        @include fillParent;
        padding: 3.5rem;
        border: none;
        box-shadow: 0 1px 10px rgba($color: #000000, $alpha: 0.1)
    }
    .browser {
        display: flex;
        flex-direction: column;
    }
    .buttonHolder {
        box-shadow: none;
        background-color: transparent;
    }
}