<div id="browserBox" class="browserBox">
    <form action="submit form-controll" class="browser" id="formPrimary">
        <div class="gridCell">
            <label for="departure">Departure</label>
            <input type="text" class="input form-controll" id="departure" value="Warsaw" readonly />
        </div>

        <div class="gridCell">
            <label for="arrival">Arrival</label>
            <select type="select" class="input" id="arrival" />
            <option value="Wroclaw">Wroclaw</option>
            <option value="London">London</option>
            <option value="New York">New York</option>
            </select>
        </div>
        <div class="gridCell">
            <label>Choose date</label>
            <i class="far fa-calendar"></i>
            <select type="text" name="day" id="dateDay" class="input--date">
                <!-- Options generated through JS -->
            </select>

            <select name="month" id="dateMonth" class="input--date">
                <option value="Jan">Jan</option>
                <option value="Feb">Feb</option>
                <option value="Mar">Mar</option>
                <option value="Apr">Apr</option>
                <option value="May">May</option>
                <option value="Jun">Jun</option>
                <option value="Jul">Jul</option>
                <option value="Aug">Aug</option>
                <option value="Sep">Sep</option>
                <option value="Oct">Oct</option>
                <option value="Nov">Noc</option>
                <option value="Dec">Dec</option>
            </select>
            <select name="year" id="dateYear" class="input--date">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select>
            <p class="warning_root"></p>
        </div>

        <div class="gridCell">
            <label for="arrival">Persons</label>
            <select type="select" class="input" id="personCount" />
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            </select>
        </div>
        <div class="buttonHolder gridCell">
            <button class="btn" id="searchButton">Search</button>
        </div>

</div>
</div>