.personalData_window {
  width: 100%;
  font-size: $font-small;
  color: $color-grey-dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .btn {
    position: absolute;
    
    right: 1rem;
    width: 12rem;
  }
}
