.card {
  width: 30%;
  height: 80%;
  margin: auto;
  box-shadow: $shadow;
  background-color: $color-white;
  padding: 3rem;
  font-size: 1.6rem;
  h3 {
    font-size: medium;
    font-weight: 600;
  }
}
