*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-family: "PT Sans", sans-serif;
    font-size: 63.5%;
}

.wrapper {
    width: 98%;
    // height: 300vh;
    margin: $margin-small auto 0 auto;
    background-color: lighten($color-grey-light, $amount: 50%);
    position: relative;
}

body {
    background-color: $color-grey-light;
    position: relative;
}