.heading {
    padding: 2rem !important;
    &__primary {
        font-size: $font-big;
        &--hero {
            color: $color-white;
            font-size: 13rem;
            margin-top: $margin-small;
            margin-left: $margin-small;
        }
    }
    &__secondary {
        font-size: $font-medium;
        &--hero {
            font-size: 7rem;
            color: $color-white;
            font-weight: 100;
            font-style: italic;
            font-family: Lato, sans-serif;
            margin-left: $margin-big;
        }
    }
}

.text {
    font-size: $font-normal;
    &--white {
        color: white;
    }
    &--center {
        text-align: center;
        vertical-align: middle;
    }
}

.nav__item {
    font-size: $font-normal;
    color: $color-black;
    font-style: italic;
    font-weight: 400;
}

.browser {
    font-size: $font-normal;
}

.btn {
    color: $color-white;
    &--round {
        font-size: 2rem;
    }
}