.heading {
    padding: 2rem !important;
    &__primary {
        font-size: $font-big;
    }
    &__secondary {
        font-size: $font-medium;
    }
}

.text {
    font-size: $font-normal;
}

.nav__item {
    font-size: $font-normal;
    color: $color-black;
    font-style: italic;
    font-weight: 400;
}

.browser {
    font-size: $font-normal;
}

.btn {
    color: $color-white;
    &--round {
        font-size: 2rem;
    }
}